#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.sign-up-form input,
select {
  width: 75%;
  text-align: center;
  margin: 0;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.sign-in-form input {
  width: 75%;
  text-align: center;
  margin: 0;
}

.sign-in-error {
  color: #ff0000;
}

.greeting {
  margin-top: 2rem;
}

.user-profile {
  border: solid #535bf2;
  border-radius: 10px;
  margin: 1rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  flex-wrap: wrap;
}

.your-stats {
  font-weight: 800;
  font-size: larger;
}

.user-profile .user-stats-list {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.top-nav-bar {
  width: 90vw;
}

.workout-description-label {
  color: white;
}

#workout-description {
  height: 10vh;
  width: 100%;
}

.exercise-details {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 5px;
}

.exercise-name {
  width: 10rem;
}
.exercise-type {
  width: min-content;
}
.exercise-number {
  width: 4rem;
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .exercise-details {
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid white;
  }

  #exercise-name {
    width: 80%;
  }

  #exercise-type {
    width: min-content;
  }

  #exercise-number {
    width: 20%;
    margin-bottom: 5px;
  }
}

.latest-featured-workout ul {
  border: solid #535bf2;
  border-radius: 10px;
  list-style-type: none;
  padding: 10px;
}

.latest-featured-workout {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.featured-workout-title {
  font-weight: 800;
  font-size: 1.5rem;
}

.featured-workout-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}